<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao postador</h1>
  <p class="lead">Esse é um blog para você criar suas postagens e postar suas ideias</p>
  <hr class="my-4">
  <p>Faça parte da comunidade.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Cadastre-se</a>
  </p>
</div>
<h1>Posts recentes:</h1>

{{#each postagens}}

<div class="list-group mt-2">
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 font-weight-bold">{{titulo}}</h5>
      <small>{{data}}</small>
    </div>
    <p class="mb-1 font-weight-normal">{{descricao}}</p>
    <a href="/postagem/ler/{{slug}}" class="text-decoration-none"><button class="btn btn-success">Ler mais</button></a>
    <hr>
    <small>categoria:{{categoria.nome}}</small><br>
    <small>slug: {{slug}}</small>
  </div>
</div>

{{else}}
<h5>Não há postagens</h5>
{{/each}}
