<h5 class="mb-1 font-weight-bold">{{postagem.titulo}}</h5>
<p class="mb-1 font-weight-normal">{{postagem.descricao}}</p>
<hr>
<p class="mb-2 font-weight-light">{{postagem.conteudo}}</p>  
<div class="list-group">
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <small>Categoria: {{postagem.categoria.nome}}</small>
      <small>{{postagem.data}}</small>
    </div>
  </div>
</div>